.contactForm{
    display: flex;
    justify-content: center;
      height: 425px;
      width: auto;
  }
  form { max-width:420px; margin:auto; padding-top: 75px; }
  
  .feedback-input {
    color:black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 8px;
    line-height: 22px;
    background-color: rgb(190, 189, 189);
    border:2px solid $maincolor;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
   
  }
  
  .feedback-input:focus { border:2px solid $maincolor; }
  
  textarea {
    height: 100px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:$maincolor;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:$TextColor;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background: $hoverColor;
  color: black; }
  
  .contactIcons{
    
    justify-content: center;
    color: $TextColor;
    display: flex;
    text-align: center;
    
  
  }